body{
    box-sizing: border-box;
    margin: 0;
}
.nav-bar{
    display: flex;
    height: 5.5vh;
    background-color: white;
    justify-content: space-between;
    padding: 1.5em 5em 1em 5em;
    border-bottom: 1px solid rgb(191, 186, 186);
}
.scaler-logo>img .scaler-twitter>img{
    height: 40px;
    width:20px;
}
.main-content{
    margin-top: 0;
    height: 90vh;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.posts{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.posting-section{
    height: 15em;
    width: 30em;
    padding: 1em;
    background-color:white;
    border: 2px solid rgb(209, 212, 215);
    border-radius: 10px;
}
.typing-area{
    display: flex;
    height: 70%;
    justify-content: space-between;
    align-items:start;
    border-bottom: 2px solid rgb(209, 212, 215);
}
.profile-img{
    height: 50px;
}
.typing-area>textarea{
    padding: 10px;
    height: 90%;

    width: 100%;
    border: none;
}
.post-button{
    height: 30%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.post-button>button{
    height: 2em;
    width: 6em;
    border-radius: 50px;
    background-color: blue;
    color: white;
    font-size: large;
    font-weight: bold;
}
.Feed-section{
    background-color: white;
    width: 40%;
    padding: 2em;
}
.feed{
    height: 12em;
    width: 30em;
    padding: 1em;
    background-color:white;
    border: 2px solid rgb(209, 212, 215);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.title{
    display: flex;
    align-items: center;
}

.title-name{
    display: flex;
    gap: 1em;
    /* height: 20%; */
    width: 80%;
}
.title-name>p{
    font-weight: bold;
    font-size: large;
    
}
.title-name>p>span{
    opacity: 0.8;
    color: grey;
    font-size: medium;
}
.post-content{
    margin-left: 4em;
    padding-left: 1px;
    padding-top:1px;
    margin-bottom: 10px;
    width: 80%;
    height: 50%;
}
.edit-delete{
    width: 20%;
    display: flex;
    justify-content: center;
    
}
.edit{
    height: 20px;
    margin-right: 1.5em;
}
.delete{
    height: 20px;
}
.like-comment>img{
    height: 20px;
    width: 28px;
}
.like-comment{
    padding-left: 4em;
    height: 20%;
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.liked-icon{
    display: none;
}

.delete-confirm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    height: 12em;
    width: 30em;
    padding: 2em;
    display: none;
}
.del-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.del-icon>span{
    font-size: large;
    font-weight: bold;
}
.del-text{
    font-weight: bold;
    font-size: 25px;
}
.del-button{
    gap: 1em;
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.del-button>button{
    height: 3.5em;
    border-radius: 20px;
    width: 10em;
    font-size: 15px;
}
.red{
    background-color: red;
    border: 1px black solid;
    font-weight: bold;
    color: white;
}
.blue{
    background-color:white;
    font-weight: lighter;
    border: 1px rgb(121, 121, 242) solid;
    color: blue;
}
.span{
    cursor: pointer;
}
.comment{
    border: 2px solid rgb(209, 212, 215);
    border-radius: 10px;
    padding: 0.5em;
    height: 10em;
    width: 25em;
}
.comment img{
    height: 30px;
    width: 30px;
}
.comment .del-icon{
    height: 10px;
}
.like-icon:hover{
    color: red;
}
.edit-button{
    display: flex;
    justify-content: end;
    gap: 1em;
    display: none;
}
.edit-button>button{
    height: 3em;
    width: 8em;
}
.cancel-button{
    border-radius: 50px;
}
.post-button2{
    border-radius: 50px;
    background-color: blue;
    color: white;
    font-weight: bold;
}
textarea{
    resize: none;
}